*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# other crap #
.idea
*.iml
*.o
*.so
build/
.gradle
raport/

!gradle-wrapper.jar

web-app/bower_components
node_modules

*.log
.vagrant/
