/* hide useless x,y coords */
text.top-right-legend {
    display: none;
}

@keyframes fadeInOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-fadeInOut {
    animation: fadeInOut 2s infinite alternate;
}
